<div class = "container my-5">
  <%= link_to "Sign up", new_user_registration_path,class:"btn btn-md btn-success" %>
  <%= link_to "Sign in", new_user_session_path, method: :delete, class:"btn btn-md btn-primary" %>
</div>