<div class = "container my-5">
  <div class = "row">
    <div class="mx-auto">
      <a href="/"><%= image_tag('logo.jpg') %></a>
      <h4 class="text-center">Riffで語らうSNS</h4>
    </div>
  </div>
</div>