@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

//carouselの背景の設定
.filter {
  background: #000;
}
.filter-img {
  display: block;
  opacity: .5; //どれくらい暗くするかを設定する数値。低いほど暗くなるようにしてます
}
.w-100 {
  width: 100%;
}

body {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

a.nav-link:hover .fa-solid{
  color:#003399;
}